## Underfitting Model (High Bias)

In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [153]:
# load the data
data = pd.read_csv('Delhi_properties.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [154]:
data.shape

(545, 13)

In [155]:
data.dropna(inplace = True)
data.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [156]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [157]:
# data.nunique()
data['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [158]:
# Labelling categorical data

data['basement'] = data['basement'].map({'no':0,'yes':1})
data['mainroad'] = data['mainroad'].map({'no':0,'yes':1})
data['guestroom'] = data['guestroom'].map({'no':0,'yes':1})
data['hotwaterheating'] = data['hotwaterheating'].map({'no':0,'yes':1})
data['airconditioning'] = data['airconditioning'].map({'no':0,'yes':1})
data['prefarea'] = data['prefarea'].map({'no':0,'yes':1})
data['furnishingstatus'] = data['furnishingstatus'].map({'furnished':1,'semi-furnished':2,'unfurnished':3})

data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

In [159]:
X = data[['area']] 
Y = data['price']

In [160]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 2)

In [161]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, Y_train)

In [162]:
# Underfitting Condition 
score_test = reg.score(X_test,Y_test)
print(f"Score value of TEST dataset is {score_test}")

score_train = reg.score(X_train,Y_train)
print(f"Score value of TRAIN dataset is {score_train}")

Score value of TEST dataset is 0.23223429443769428
Score value of TRAIN dataset is 0.3021470682890969

### Handeling Underfitting Condtion

In [163]:
# adding other features also instead of only using 'area'
X = data.drop(['price','furnishingstatus'] , axis = 1)
X = data.drop(['price'] , axis = 1)
Y = data['price']

In [164]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state = 2)
reg = LinearRegression().fit(X_train, Y_train)

In [165]:
# Underfitting Condition 
score_test = reg.score(X_test,Y_test)
print(f"Score value of TEST dataset is {score_test}")

score_train = reg.score(X_train,Y_train)
print(f"Score value of TRAIN dataset is {score_train}")

Score value of TEST dataset is 0.6509413309763019
Score value of TRAIN dataset is 0.6903772171120532